.kaufman {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 90px 0;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}
